<!DOCTYPE html>
<html lang="{{ resolved_lang }}">

<head>
    {% include "component-dependencies.html" %}

    <title>{{ user.name }} - {{ config.instancename }}</title>

    <meta name="description" content="{{ user.name }} on {{ config.instancename }}" />
    <meta property="og:title" content="{{ user.name }}" />
    <meta property="og:type" content="profile" />
    <meta property="og:profile:username" content="{{ user.login }}" />
    <meta property="og:profile:first_name" content="{{ user.name }}" />
    <meta property="og:url" content="{{ config.site_url }}/u/{{ user.login }}" />
    <meta property="og:locale" content="{{ resolved_lang }}" />
    <meta property="og:description" content="{{ config.description }}" />
    <meta property="og:image" content="{{ config.source_server_url }}/source/favicon.svg" />
    <meta property="og:site_name" content="{{ config.instancename }}" />
    <script type="application/ld+json">{{ schema_org_json|safe }}</script>
</head>

<body hx-ext="preload">
    {{ sidebar|safe }}
    {% include "component-navbar.html" %}
    <div class="row maincontentrow g-3 py-2 ps-2 w-100" role="main">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card pt-3 px-3 text-white" style="min-height:30vh;">
                <table>
                    <tr>
                        <td class="text-center">
                            <div class="channel-picture-container d-inline-block">
                                {% if let Some(pic) = user.channel_picture %}
                                <img src="{{ config.source_server_url }}/source/{{ pic }}/picture.avif" alt="{{ user.name }} channel picture">
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center my-3">
                            <b class="text-white font-weight-bold">{{ user.name }}</b>
                            <p class="text-secondary">{{ user.login }}<br>{{ user.subscribed.unwrap_or(0) }} {{ locale.t("channel-subscribers") }}</p>
                            <div hx-get="/hx/subscribebutton/{{ user.login }}" hx-trigger="load" class="subscribe-placeholder p-1"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card py-3 px-3 text-white">
                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item">
                        <button class="nav-link active text-white" hx-get="/hx/usermedia/{{ user.login }}" hx-target="#tab-content" hx-swap="innerHTML" preload="mouseover"><i class="fa-solid fa-photo-film me-2"></i>{{ locale.t("channel-tab-media") }}</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link text-white" hx-get="/hx/userlists/{{ user.login }}" hx-target="#tab-content" hx-swap="innerHTML" preload="mouseover"><i class="fa-solid fa-list me-2"></i>{{ locale.t("channel-tab-lists") }}</button>
                    </li>
                </ul>
                <div id="tab-content" class="row">
                    <div hx-get="/hx/usermedia/{{ user.login }}" hx-trigger="load" class="mb-3 hx-placeholder row" preload="always">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
