<div class="d-flex justify-content-center mt-1">
    <form>
        <div class="input-group m-2 text-white" style="width: 50vw">
            <input type="text" class="form-control">
            <div class="input-group-append">
                <button class="searchbtn btn-primary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </form>
    <div class="m-2 text-white">
        <button class="btn btn-outline rounded-circle text-white"><i class="fa-solid fa-user"></i></button>
    </div>
</div>