{% for concept in concepts %}
<div class="col-xl-2 col-lg-4 col-6 d-flex justify-content-center">
    {% if concept.processed %}
    <a
        href="/studio/concept/{{ concept.id }}"
        class="text-decoration-none p-3 bg-hover rounded"
        preload="mouseover"
    >
        {% endif %}
        <table>
            <tr>
                <td class="d-flex justify-content-center">
                    {% if !concept.processed %}
                    <i
                        class="fa-solid fa-wand-magic-sparkles fa-beat fa-4x text-decoration-none my-3"
                    ></i>
                    {% else %}
                    <i
                        class="fa-solid fa-check fa-4x text-decoration-none text-white my-3"
                    ></i>
                    {% endif %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="text-center">
                    <b class="text-white medium-name"
                        >{{ concept.name }}</b
                    >
                    <p class="text-secondary">
                        {{ locale.t("concept-status-label") }}&nbsp; {% if !concept.processed %} {{ locale.t("concept-status-preparing") }}
                        {% else %} {{ locale.t("concept-status-ready") }} {% endif %} {% if concept.type ==
                        "video" %}
                        <i class="fa-solid fa-video fa-sm ms-1"></i>
                        {% else if concept.type == "audio" %}
                        <i class="fa-solid fa-music fa-sm ms-1"></i>
                        {% else if concept.type == "picture" %}
                        <i class="fa-solid fa-image fa-sm ms-1"></i>
                        {% endif %}
                    </p>
                </td>
            </tr>
        </table>
        {% if concept.processed %}
    </a>
    {% endif %}
</div>
{% endfor %}
