{% for item in items %}
<div class="col-xl-2 col-lg-4 col-6 d-flex justify-content-center inf-scroll-reveal">
    <a href="/l/{{ list_id }}/{{ item.id }}" class="text-decoration-none p-3 bg-hover rounded" preload="mouseover">
        <table>
            <tr>
                <td class="d-flex justify-content-center">
                    <div
                        class="thumbnail-container"
                        style="position: relative; width: 176px; height: 99px"
                    >
                        <img src="{{ config.source_server_url }}/source/{{ item.id }}/thumbnail.avif" width="176" height="99" class="rounded" alt="thumb-{{ item.id }}">
                        <div class="search-card-type-badge">
                            {% if item.type == "video" %}
                            <i class="fa-solid fa-video"></i>
                            {% else if item.type == "audio" %}
                            <i class="fa-solid fa-music"></i>
                            {% else if item.type == "picture" %}
                            <i class="fa-solid fa-image"></i>
                            {% else if item.type == "document_pdf" %}
                            <i class="fa-solid fa-file-pdf"></i>
                            {% else if item.type == "document_writer" %}
                            <i class="fa-solid fa-file-word"></i>
                            {% else if item.type == "document_spreadsheet" %}
                            <i class="fa-solid fa-file-excel"></i>
                            {% else if item.type == "document_presentation" %}
                            <i class="fa-solid fa-file-powerpoint"></i>
                            {% else %}
                            <i class="fa-solid fa-file"></i>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <b class="text-white font-weight-bold">{{ item.name }}</b>
                    <p class="text-secondary">{{ item.views }} views</p>
                </td>
            </tr>
        </table>
    </a>
</div>
{% if loop.index == 15 && has_more %}
<div style="position:absolute;height:0;width:0;overflow:hidden;visibility:hidden;" hx-get="{{ next_url }}" hx-trigger="revealed" hx-target="#inf-scroll-li-{{ page }}" hx-swap="outerHTML" hx-on::after-request="this.remove()"></div>
{% endif %}
{% endfor %}
{% if has_more %}
<div id="inf-scroll-li-{{ page }}" class="col-12 my-4 inf-scroll-placeholder"></div>
{% else %}
<div class="col-12 text-center my-4">
    {% if items.is_empty() && page == 0 %}
    <p class="text-secondary">{{ locale.t("list-empty") }}</p>
    {% else %}
    <p class="text-secondary"><i class="fa-solid fa-circle-check me-2"></i>{{ locale.t("pagination-end") }}</p>
    {% endif %}
</div>
{% endif %}
