{% for item in media %}
<a
    href="/m/{{ item.id }}"
    class="text-decoration-none rounded {% if item.id == current_medium_id %}list-sidebar-active{% endif %}"
    preload="mouseover"
    title="{{ item.name }}"
>
    <table class="my-3">
        <tr>
            <td class="d-flex justify-content-center me-3">
                <div
                    class="thumbnail-container rounded"
                    style="position: relative; width: 176px; height: 99px"
                >
                    {% if item.sprite_filename.is_some() %}
                    <div
                        class="thumbnail-sprite {% if item.type == "video" %}thumbnail-static{% endif %}"
                        style="background-image:url('{{ config.source_server_url }}/source/system_pregen/{{ item.sprite_filename.as_ref().unwrap() }}');--sprite-x:{{ item.sprite_x }}px;--sprite-y:{{ item.sprite_y }}px;"
                    ></div>
                    {% else %}
                    <img
                        src="{{ config.source_server_url }}/source/{{ item.id }}/thumbnail-sm.avif"
                        class="{% if item.type == "video" %}thumbnail-static{% endif %}"
                        style="
                            position: absolute;
                            top: 0;
                            left: 0;
                            transition: opacity 0.3s;
                        "
                        width="176"
                        height="99"
                    />
                    {% endif %}
                    <div class="search-card-type-badge">
                        {% if item.type == "video" %}
                        <i class="fa-solid fa-video"></i>
                        {% else if item.type == "audio" %}
                        <i class="fa-solid fa-music"></i>
                        {% else if item.type == "picture" %}
                        <i class="fa-solid fa-image"></i>
                        {% else if item.type == "document_pdf" %}
                        <i class="fa-solid fa-file-pdf"></i>
                        {% else if item.type == "document_writer" %}
                        <i class="fa-solid fa-file-word"></i>
                        {% else if item.type == "document_spreadsheet" %}
                        <i class="fa-solid fa-file-excel"></i>
                        {% else if item.type == "document_presentation" %}
                        <i class="fa-solid fa-file-powerpoint"></i>
                        {% else if item.type == "object_3d" %}
                        <i class="fa-solid fa-cubes"></i>
                        {% else %}
                        <i class="fa-solid fa-file"></i>
                        {% endif %}
                    </div>
                    {% if item.type == "video" %}
                    <video
                        data-hls-preview-src="{{ config.source_server_url }}/source/{{ item.id }}/video/video.m3u8"
                        class="thumbnail-preview"
                        width="176"
                        height="99"
                        muted
                        loop
                        playsinline
                        preload="none"
                        aria-hidden="true"
                    ></video>
                    {% endif %}
                </div>
            </td>
            <td>
                <b class="text-white font-weight-bold medium-name"
                    >{{ item.name }}</b
                >
                <p class="text-secondary m-0">
                    {{ item.owner }}<br />
                    {% if let Some(vt) = item.visit_time %}
                    <i class="fa-solid fa-clock me-1"></i>{{ vt }}
                    {% else %}
                    <i class="fa-solid fa-eye me-1"></i>{{ item.views }} {{ locale.t("unit-views") }}
                    {% endif %}
                </p>
            </td>
        </tr>
    </table>
</a>
{% endfor %}
