{% for item in media %}
<div class="col-xl-2 col-lg-4 col-6 d-flex justify-content-center">
    <a
        href="/m/{{ item.id }}"
        class="text-decoration-none p-3 bg-hover rounded"
        preload="mouseover"
        title="{{ item.name }}"
    >
        <table>
            <tr>
                <td class="d-flex justify-content-center">
                    <div
                        class="thumbnail-container"
                        style="position: relative; width: 176px; height: 99px"
                    >
                        <img
                            src="{{ config.source_server_url }}/source/{{ item.id }}/thumbnail.avif"
                            class="rounded {% if item.type == "video" %}thumbnail-static{% endif %}"
                            width="176"
                            height="99"
                        />
                        <div class="search-card-type-badge">
                            {% if item.type == "video" %}
                            <i class="fa-solid fa-video"></i>
                            {% else if item.type == "audio" %}
                            <i class="fa-solid fa-music"></i>
                            {% else if item.type == "picture" %}
                            <i class="fa-solid fa-image"></i>
                            {% else if item.type == "document_pdf" %}
                            <i class="fa-solid fa-file-pdf"></i>
                            {% else if item.type == "document_writer" %}
                            <i class="fa-solid fa-file-word"></i>
                            {% else if item.type == "document_spreadsheet" %}
                            <i class="fa-solid fa-file-excel"></i>
                            {% else if item.type == "document_presentation" %}
                            <i class="fa-solid fa-file-powerpoint"></i>
                            {% endif %}
                        </div>
                        {% if item.type == "video" %}
                        <img
                            src="{{ config.source_server_url }}/source/{{ item.id }}/showcase.avif"
                            class="rounded thumbnail-animated"
                            width="176"
                            height="99"
                        />
                        {% endif %}
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="text-center">
                    <b class="text-white font-weight-bold medium-name">{{ item.name }}</b>
                    <p class="text-secondary m-0">
                        {{ item.owner }}<br />{{ item.views }}
                        views
                    </p>
                </td>
            </tr>
        </table>
    </a>
</div>
{% endfor %}
