{% for video in reccomendations %}
<a href="/video/{{ video.id }}" class="text-decoration-none">
    <table class="my-3">
        <tr>
            <td rowspan="2">
                <img src="/source/{{ video.id }}/thumbnail.avif" width="176" height="99" class="mx-2 rounded">
            </td>
            <td>
                <p class="text-white">{{ video.name }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="text-secondary">{{ video.owner }}</p>
            </td>
        </tr>
    </table>
</a>
{% endfor %}