<li class="nav-item">
    <a href="/subscriptions" class="nav-link {% if active_item == "subscribed" %}active{% endif %} text-white
        text-decoration-none my-2 fs-6 mx-3">
        <i class="fa-solid fa-bell"></i>
        Subscribed
    </a>
</li>
<li class="nav-item">
    <a href="/favourites" class="nav-link {% if active_item == "favourites" %}active{% endif %} text-white
        text-decoration-none my-2 fs-6 mx-3">
        <i class="fa-solid fa-heart"></i>
        Favourites
    </a>
</li>
<li class="nav-item">
    <a href="/edit" class="nav-link {% if active_item == "yourmedia" %}active{% endif %} text-white
        text-decoration-none my-2 fs-6 mx-3">
        <i class="fa-solid fa-photo-film"></i>
        Studio
    </a>
</li>