{% for medium in media %}
<div class="col-xl-2 col-lg-4 col-6 d-flex justify-content-center inf-scroll-reveal">
    <a
        href="/studio/edit/{{ medium.id }}"
        class="text-decoration-none p-3 bg-hover rounded"
        preload="mouseover"
    >
        <table>
            <tr>
                <td class="d-flex justify-content-center">
                    <div
                        class="thumbnail-container"
                        style="position: relative; width: 176px; height: 99px"
                    >
                        <img
                            src="{{ config.source_server_url }}/source/{{ medium.id }}/thumbnail-sm.avif"
                            width="176"
                            height="99"
                            class="rounded"
                        />
                        <div class="search-card-type-badge">
                            {% if medium.type == "video" %}
                            <i class="fa-solid fa-video"></i>
                            {% else if medium.type == "audio" %}
                            <i class="fa-solid fa-music"></i>
                            {% else if medium.type == "picture" %}
                            <i class="fa-solid fa-image"></i>
                            {% else if medium.type == "document_pdf" %}
                            <i class="fa-solid fa-file-pdf"></i>
                            {% else if medium.type == "document_writer" %}
                            <i class="fa-solid fa-file-word"></i>
                            {% else if medium.type == "document_spreadsheet" %}
                            <i class="fa-solid fa-file-excel"></i>
                            {% else if medium.type == "document_presentation" %}
                            <i class="fa-solid fa-file-powerpoint"></i>
                            {% else if medium.type == "object_3d" %}
                            <i class="fa-solid fa-cubes"></i>
                            {% else %}
                            <i class="fa-solid fa-file"></i>
                            {% endif %}
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="text-center">
                    <b class="text-white font-weight-bold medium-name">{{ medium.name }}</b>
                    <p class="text-secondary">
                        {{ medium.views }} views
                    </p>
                    <span class="text-secondary m-0" style="font-size: 0.8em;">
                        <i class="fa-solid fa-pen-to-square fa-sm"></i> {{ locale.t("studio-edit-link") }}
                    </span>
                </td>
            </tr>
        </table>
    </a>
</div>
{% if loop.index == 15 && has_more %}
<div style="position:absolute;height:0;width:0;overflow:hidden;visibility:hidden;" hx-get="{{ next_url }}" hx-trigger="revealed" hx-target="#inf-scroll-st-{{ page }}" hx-swap="outerHTML" data-remove-after-request></div>
{% endif %}
{% endfor %}
{% if has_more %}
<div id="inf-scroll-st-{{ page }}" class="col-12 my-4 inf-scroll-placeholder"></div>
{% else %}
<div class="col-12 text-center my-4">
    {% if media.is_empty() && page == 0 %}
    <p class="text-secondary">{{ locale.t("studio-no-media") }}</p>
    {% else %}
    <p class="text-secondary"><i class="fa-solid fa-circle-check me-2"></i>{{ locale.t("pagination-end") }}</p>
    {% endif %}
</div>
{% endif %}
