<div class="col-12">
    <form action="/studio/edit/{{ medium.id }}" method="post" class="mx-3" id="edit-form">
        <div class="form-group row my-3">
            <label for="medium_id_display" class="col-4 col-form-label">{{ locale.t("studio-description-url-label") }}</label>
            <div class="col-8">
                <div class="input-group">
                    <input id="medium_id_display" type="text" class="form-control" value="{{ medium.id }}" disabled />
                </div>
            </div>
        </div>
        <div class="form-group row my-3">
            <label for="medium_name" class="col-4 col-form-label">{{ locale.t("studio-description-name-label") }}</label>
            <div class="col-8">
                <input id="medium_name" name="medium_name" type="text" class="form-control" required value="{{ medium.name }}" />
            </div>
        </div>
        <div class="form-group row my-3">
            <label for="medium_description" class="col-4 col-form-label">{{ locale.t("studio-description-label") }}</label>
            <div class="col-8">
                <div id="medium_description_editor" style="height: 50vh"></div>
                <input type="hidden" name="medium_description" id="medium_description" />
            </div>
        </div>
        <script>
        (function() {
            let quill = new Quill('#medium_description_editor', {
                theme: 'snow'
            });

            fetch('/m/{{ medium.id }}/description.json')
                .then(function(response) {
                    if (!response.ok) throw new Error('Failed to load description');
                    return response.json();
                })
                .then(function(data) {
                    quill.setContents(data);
                })
                .catch(function(err) {
                    console.error('Could not load existing description:', err);
                });

            const editForm = document.getElementById('edit-form');
            editForm.addEventListener('submit', function(e) {
                let descriptionInput = document.getElementById('medium_description');
                let delta = quill.getContents();
                descriptionInput.value = JSON.stringify(delta);
            });
        })();
        </script>
        <div class="form-group row my-3">
            <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk"></i>&nbsp;{{ locale.t("studio-save-changes") }}
                </button>
            </div>
        </div>
    </form>
</div>
