<!doctype html>
<html lang="{{ resolved_lang }}">
    <head>
        {% include "component-dependencies.html" %}
        <title>{{ list.name }} - {{ config.instancename }}</title>
        <meta name="description" content="{{ list.name }} - a playlist on {{ config.instancename }}" />
        <meta property="og:title" content="{{ list.name }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ config.site_url }}/l/{{ list.id }}" />
        <meta property="og:locale" content="{{ resolved_lang }}" />
        <meta property="og:description" content="{{ config.description }}" />
        <meta property="og:image" content="{{ config.source_server_url }}/source/favicon.svg" />
        <meta property="og:site_name" content="{{ config.instancename }}" />
        <script type="application/ld+json">{{ schema_org_json|safe }}</script>
    </head>
    <body hx-ext="preload">
        {{ sidebar|safe }}
        {% include "component-navbar.html" %}
        <div class="row maincontentrow g-3 py-2 ps-2 w-100" role="main">
            <div class="col-12">
                <div class="card py-3 px-3 text-white">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2><i class="fa-solid fa-list me-2"></i>{{ list.name }}</h2>
                        {% if is_owner %}
                        <a hx-post="/hx/deletelist/{{ list.id }}"
                           hx-confirm="Are you sure you want to delete this list?"
                           class="btn btn-primary">
                            <i class="fa-solid fa-trash text-danger"></i> {{ locale.t("list-delete") }}
                        </a>
                        {% endif %}
                    </div>
                    <p class="text-secondary m-0">
                        {{ locale.t("list-by") }} <a href="/u/{{ list.owner }}" class="text-secondary text-decoration-none">{{ list.owner }}</a>
                        {% if list.visibility == "public" %}
                        <i class="fa-solid fa-globe fa-sm ms-2"></i> {{ locale.t("list-visibility-public") }}
                        {% else if list.visibility == "restricted" %}
                        <i class="fa-solid fa-users fa-sm ms-2"></i> {{ locale.t("list-visibility-restricted") }}
                        {% else %}
                        <i class="fa-solid fa-lock fa-sm ms-2"></i> {{ locale.t("list-visibility-private") }}
                        {% endif %}
                    </p>
                    <hr>
                    <div hx-get="/hx/listitems/{{ list.id }}"
                         hx-trigger="load"
                         class="row mb-3 hx-placeholder">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
