<!DOCTYPE html>
<html lang="{{ resolved_lang }}">

<head>
    {% include "component-dependencies.html" %}

    <title>Groups - {{ config.instancename }}</title>

    <meta name="description" content="{{ config.description }}" />
    <meta property="og:title" content="{{ config.instancename }} Groups" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.site_url }}/studio/groups" />
    <meta property="og:locale" content="{{ resolved_lang }}" />
    <meta property="og:description" content="{{ config.description }}" />
    <meta property="og:image" content="{{ config.source_server_url }}/source/favicon.svg" />
    <meta property="og:site_name" content="{{ config.instancename }}" />
</head>

<body hx-ext="preload">
    {{ sidebar }}
    {% include "component-navbar.html" %}
    <div class="row maincontentrow g-3 py-2 ps-2 w-100" role="main">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card py-3 px-3 text-white" style="min-height:30vh;">
                <div class="row justify-content-between align-items-center">
                    <h3 class="my-2 mx-3" style="width:auto;"><i class="fa-solid fa-users"></i>&nbsp;{{ locale.t("studio-tab-groups") }}</h3>
                    <div style="width:auto;">
                        <a href="/studio" class="btn btn-primary mx-1" preload="mouseover">
                            <i class="fa-solid fa-arrow-left"></i>&nbsp;{{ locale.t("studio-edit-back") }}
                        </a>
                    </div>
                </div>
                <hr>
                <div class="mx-3 mb-3">
                    <form hx-post="/hx/creategroup" hx-target="#groups-list">
                        <div class="input-group" style="max-width:500px;">
                            <input type="text" name="name" class="form-control" placeholder="New group name..." required>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-plus"></i>&nbsp;Create Group
                            </button>
                        </div>
                    </form>
                </div>
                <div id="groups-list" hx-get="/hx/studio/groups" hx-trigger="load" hx-select="#groups-list" hx-swap="outerHTML" class="row mb-3 hx-placeholder">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
