<!DOCTYPE html>
<html lang="{{ resolved_lang }}">

<head>
    {% include "component-dependencies.html" %}

    <title>Studio - Lists - {{ config.instancename }}</title>

    <meta name="description" content="{{ config.description }}" />
    <meta property="og:title" content="{{ config.instancename }} Studio - Lists" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.site_url }}/studio/lists" />
    <meta property="og:locale" content="{{ resolved_lang }}" />
    <meta property="og:description" content="{{ config.description }}" />
    <meta property="og:image" content="{{ config.source_server_url }}/source/favicon.svg" />
    <meta property="og:site_name" content="{{ config.instancename }}" />
</head>

<body hx-ext="preload">
    {{ sidebar }}
    {% include "component-navbar.html" %}
    <div class="row maincontentrow g-3 py-2 ps-2 w-100" role="main">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card py-3 px-3 text-white" style="min-height:30vh;">
                <div class="row justify-content-between">
                    <h3 class="my-2 mx-3" style="width:200px;">{{ locale.t("studio-tab-lists") }}</h3>
                    <div style="width:400px;">
                    <a href="/studio" class="btn btn-primary mx-3" style="width:150px;height:40px;" preload="mouseover"><i
                            class="fa-solid fa-photo-film"></i>&nbsp;{{ locale.t("studio-tab-media") }}</a>
                    <a href="/studio/concepts" class="btn btn-primary mx-3" style="width:150px;height:40px;" preload="mouseover"><i
                            class="fa-solid fa-wand-magic-sparkles"></i>&nbsp;{{ locale.t("studio-tab-concepts") }}</a>
                    </div>
                </div>
                <hr>
                <div hx-get="/hx/studio/lists" hx-trigger="load" class="row mb-3 hx-placeholder" preload="always">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
