<!DOCTYPE html>
<html lang="{{ resolved_lang }}">

<head>
    {% include "component-dependencies.html" %}

    <title>{{ locale.t("trending-page-title") }} - {{ config.instancename }}</title>

    <meta name="description" content="{{ config.description }}" />
    <meta property="og:title" content="{{ config.instancename }} {{ locale.t("trending-page-title") }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.site_url }}/trending" />
    <meta property="og:locale" content="{{ resolved_lang }}" />
    <meta property="og:description" content="{{ config.description }}" />
    <meta property="og:image" content="{{ config.source_server_url }}/source/favicon.svg" />
    <meta property="og:site_name" content="{{ config.instancename }}" />
    <script type="application/ld+json">{{ schema_org_json }}</script>
</head>

<body hx-ext="preload">
    {% set page_title = locale.t("trending-page-title") %}
    {{ sidebar }}
    {% include "component-navbar.html" %}
    <div class="row maincontentrow g-3 py-2 ps-2 w-100" role="main">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card py-3 px-3 text-white" style="min-height:100vh;">
                <div hx-get="/hx/trending" hx-trigger="load" class="row mb-3 hx-placeholder" preload="always">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
