<!DOCTYPE html>
<html>

<head>
    {% include "component-dependencies.html" %}

    <title>Upload</title>

    <meta property="og:title" content="{{ config.instancename }} Upload" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ common_headers.host }}/upload" />
</head>

<body>
    {{ sidebar }}
    {% include "component-navbar.html" %}
    <div class="row maincontentrow g-3 py-2 ps-2" style="max-width: 99%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card py-3 px-3 text-white" style="min-height: 80vh;">
                <h3 class="my-2 mx-3">Upload</h3>
                <hr>
                <form hx-post="/hx/upload" hx-target="#upload-result" hx-include="input[type='file']"
                    hx-indicator="#upload-progress" enctype="multipart/form-data">
                    <input type="file" name="file" required>
                    <button type="submit">Upload</button>
                </form>
                <div id="upload-progress" style="width: 100%; background-color: lightgray;">
                    <div id="progress-bar" style="width: 0%; background-color: green; height: 30px;"></div>
                </div>
                <div id="speed"></div>
                <div id="upload-result"></div>
                <script>
                    document.querySelector('form').addEventListener('htmx:xhr:progress', function (evt) {
                        if (evt.lengthComputable) {
                            let percent = (evt.loaded / evt.total) * 100;
                            document.getElementById('progress-bar').style.width = percent + '%';
                            let speed = (evt.loaded / 1024 / 1024) / (evt.timeStamp / 1000); // Mbps
                            document.getElementById('speed').innerText = speed.toFixed(2) + ' Mbps';
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</body>

</html>