<!DOCTYPE html>
<html>

<head>
    {% include "component-dependencies.html" %}

    <title>Upload</title>

    <meta property="og:title" content="{{ config.instancename }} Upload" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ common_headers.host }}/upload" />
</head>

<body>
    {{ sidebar }}
    {% include "component-navbar.html" %}
    <div class="row maincontentrow g-3 py-2 ps-2" style="max-width: 99%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card py-3 px-3 text-white" style="min-height: 80vh;">
                <h3 class="my-2 mx-3">Upload</h3>
                <hr>
                <form id='form' hx-encoding='multipart/form-data' hx-post='/hx/upload'>
                    <input type='file' name='file'>
                    <button>
                        Upload
                    </button>
                    <progress id='progress' value='0' max='100'></progress>
                    <div id="speed">Upload speed: 0 Mbps</div>
                </form>
                <script>
                    let startTime;

                    htmx.on('#form', 'htmx:xhr:progress', function (evt) {
                        const progressElement = htmx.find('#progress');
                        const speedElement = htmx.find('#speed');

                        // Update progress bar
                        const progress = evt.detail.loaded / evt.detail.total * 100;
                        progressElement.setAttribute('value', progress);

                        // Calculate and display upload speed
                        const currentTime = new Date().getTime();
                        if (!startTime) {
                            startTime = currentTime;
                        }

                        const elapsedTime = (currentTime - startTime) / 1000; // Time in seconds
                        const loadedMB = evt.detail.loaded / (1024 * 1024); // Loaded bytes to MB
                        const uploadSpeedMbps = (loadedMB / elapsedTime) * 8; // Convert MBps to Mbps

                        speedElement.innerText = `Upload speed: ${uploadSpeedMbps.toFixed(2)} Mbps`;
                    });

                    htmx.on('#form', 'htmx:xhr:loadend', function (evt) {
                        startTime = null; // Reset start time after upload completes
                    });
                </script>
            </div>
        </div>
    </div>
</body>

</html>