<!DOCTYPE html>
<html>

<head>
    {% include "component-dependencies.html" %}
</head>

<body>
    {{ sidebar }}
    {% include "component-navbar.html" %}
    <div class="row maincontentrow g-3 py-2">
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <div class="card py-3 px-3 text-white" style="min-height: 75vh;">
                <div class="d-flex justify-content-center" style="min-height: 70vh;">
                    <video id="videoplayer" class="video-js vjs-theme-custom" controls preload="auto" data-setup="{}"
                        autoplay>
                        <source src="/source/{{ video_id }}/video.webm" type="video/webm" />
                    </video>
                    <script>
                        var player = videojs('videoplayer');
                        player.responsive(true);
                    </script>
                </div>
                <div>
                    <ul class="list-group list-unstyled mt-2 mb-1 mx-1" style="float: left;">
                        <li>
                            <h1>{{ video_name }}</h1>
                        </li>
                        <li>
                            <h5><a href="/channel/{{ video_owner }}" class="text-secondary text-decoration-none">{{ video_owner }}</a></h5>
                        </li>
                    </ul>
                    <ul class="list-group list-unstyled list-group-horizontal mt-3 py-3 px-2"
                        style="float:right;background-color: #511730;">
                        <li class="mx-2"><a class="text-decoration-none text-white" style="cursor: pointer;" hx-get="/hx/like/{{ video_id }}" hx-trigger="click once" hx-target="#video_likes"><i class="fa-solid fa-thumbs-up fa-xl"></i>&nbsp;<b id="video_likes">{{ video_likes }}</b></a></li>
                        <li>|</li>
                        <li class="mx-2"><a class="text-decoration-none text-white" style="cursor: pointer;" hx-get="/hx/dislike/{{ video_id }}" hx-trigger="click once" hx-target="#video_dislikes"><i class="fa-solid fa-thumbs-down fa-xl"></i>&nbsp;<b id="video_dislikes">{{ video_dislikes }}</b></a></li>
                        <li class="mx-4"><a href="/source/{{ video_id }}/video.webm"
                                class="text-white text-decoration-none" download><i
                                    class="fa-solid fa-download fa-xl"></i></a></li>
                    </ul>
                </div>
                <hr>
                <div class="my-1">
                    <b class="text-secondary" hx-get="/hx/new_view/{{ video_id }}" hx-trigger="load delay:5s">{{ video_views }}</b><b class="text-secondary"> views, uploaded: {{ video_upload }}</b>
                    <p style="overflow-y: scroll;">{{ video_description }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <div class="card py-3 px-3 h-100">
                <h3 class="my-2 text-white text-center">Reccomended</h3>
                <hr>
                <div hx-get="/hx/reccomended/{{ video_id }}" hx-trigger="load">
                    <div class="my-4">
                        <i class="fa-solid fa-spinner fa-spin-pulse fa-8x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <div class="card py-3 px-3 text-white" style="min-height: 30vh;">
                <h3 class="my-2">Comments</h3>
                <hr>
                <div hx-get="/hx/comments/{{ video_id }}" hx-trigger="revealed">
                    <div class="text-center my-4">
                        <i class="fa-solid fa-spinner fa-spin-pulse fa-8x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>