name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: |
        echo "${{ secrets.DOCKERPW }}" | docker login -u "panmourovaty" --password-stdin
        docker image build -t panmourovaty/rustvideoplatform:latest .
        docker push panmourovaty/rustvideoplatform:latest